<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    
    <title>Document</title>
</head>
<body>

  <div class="wrapper">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="input-box form-group">
            <label for="phoneNumber" style="display: none;">Phone Number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Username" [(ngModel)]="loginForm.phoneNumber" required>
            <i class='bx bxs-user'></i>
        </div>
        <div *ngIf="loginForm.controls.phoneNumber?.invalid && loginForm.controls.phoneNumber?.touched" class="error">
            Username is required.
        </div>
        <div class="input-box form-group">
            <label for="password" style="display: none;">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="loginForm.password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched" class="error">
            Password is required.
        </div>
        
        <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
        <div class="register-link">
            <p>Don't have an account? <a href="#" (click)="navigateTo('/register')">Register</a></p>
        </div>
    </form>
</div>

      
      
</body>
</html>